@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
:root 


#content { 
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    text-align: center;
    background-color:#465d54;
    text-decoration: none;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
}

#hero {
display: grid;
grid-template-columns: 1fr 3fr 1fr;
margin-top: -100px;

}


#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}



.botton-box {
    text-align: center;
}

main section {
    text-align: center;
}

body {
    background-color: #e2ddca;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

header {
    background-color: #465d54;
    color: rgb(247, 242, 242);
    display: grid;
    grid-template-columns:150px auto;
}

nav a:hover {
background-color:#465d54; 
color: #CE8B50;
text-decoration: none;

}

nav a {
   padding: 35px;
   color: #e2ddca;
   text-decoration: none;
}

h2 {
    font-family: "Arvo", "Helvetica", sans-serif;
    margin: 0;
}

.join {
    color: white ;
    background-color:#0e2019 ;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
     border-radius: 5px;
}


.book {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: white;
  background-color: #0e2019;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.msg {
    color: #151a18;
    font-family: "Arvo", "Helvetica", sans-serif;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #6f7364;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}


footer a {
    text-decoration: none;
    color: #e2ddca;
}

footer a:hover {

    color:#CE8B50 ;
    text-decoration: underline;
}

footer {
    background-color: #465d54; 
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    color:#1e332b;
    font-family: "Arvo", "Helvetica", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {

    color: #dde7e3;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
    margin: 0 auto;
}

footer p {
    font-size: 1.2em;
    display:block;
    margin: 0 auto;
    padding: 25px 50px;
    
}

footer p a:hover {
text-decoration: underline;

}

footer .social img {
     padding-top: 15px;
}

.river-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.river-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    height: 725px;
    color: #8d9f87;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
}


.card-img {
    width: 100%;
    border: 10px solid #818885;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    transform: scale(1.1);
    opacity: (0.6);
}


main section img {
    box-sizing: border-box;
}





/* PAGE TWO STYLING STARTS HERE*/

.nature {
    float: right;
    width: 600px;
    height: 350px;
    margin: 20px;  
    margin-top:10px;
}

.page2{
    padding-left: 20px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 40px;
}

#bottomimage{
    display:block;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.bottom{
    display: block;
    width: 200px;
    height: 100px;
}















@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}