

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

#content {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    padding: 10px 30px;
}

.logo {
    width: 60px;
}



nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 0.9rem;
}

nav a:hover {
    background-color: #666;
    border-radius: 5px;
}




h1 {
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
}


.maincontent div {

    padding: 20px 40px;
    
}

.maincontent p {
    margin: 0;
    line-height: 1.5;
}




div.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.subtitle-left {
    text-align: left;
    grid-column: 1/2;
    margin-bottom: 0px;
}

.paraleft {
    text-align: left;
    grid-column: 1/2;
    grid-row: 2/3;
}

.illustration-right {
    grid-column: 2/3;
    width: 450px;
    height: 600px;
    grid-row: 2/3;
    justify-self: right;
}

.subtitle-right {
    text-align: left;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0px;
}

.pararight {
    text-align: left;
    grid-column: 2/3;
    grid-row: 3/4;
}

.illustration-left {
    grid-column: 1/2;
    width: 480px;
    height: 600px;
    grid-row: 3/4;
    justify-self: left;
}











footer {
    background-color: #444;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    align-items: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}






.social {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.social img {
    width: 30px;
}

footer div {
    grid-column : 3/4;
}

.illustration-img {
    width: 100%;
    height: auto;
    background-color: #d9d9d9;
    float: right;
}



@media (max-width: 800px) {
    .details {
        display: block;
    }

    .illustration-right, .illustration-left {
        width: 100%;
        height: auto;
        justify-self: center;
        margin-top: 15px;
    }
}




