
/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9d9d9;
    color: #333;
}

#content {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

/*HEADER & NAVIGATION */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    padding: 10px 30px;
}

.logo {
    width: 70px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 0.9rem;
}

nav a:hover {
    background-color: #666;
    border-radius: 5px;
}





/* MAIN CONTENT */
.maincontent {
    padding: 30px;
}

#page2title {
    text-align: center;
    margin-bottom: 30px;
}



div.box {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
    
}
.subtitle {
    grid-column: 2 / 3;
    text-align: left;
    grid-row: 1/2;
    justify-self: center;
}
.para {
    grid-column: 1 / 4;
    grid-row: 3/4;
    text-align: left;

}
.saxtype1 {
    width: 400px;
    height: 400px;
    background-color: #ccc;
    grid-column: 2/3;
    grid-row: 2/3;
}

div.box2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}
.subtitle2 {
    grid-column: 1 / 2;
    text-align: left;
    grid-row: 1/2;
    justify-self: left;
}
.para2 {
    grid-column: 2 / 3;
    grid-row: 3/4;
    text-align: left;
   

}
.saxtype2 {
    width: 300px;
    height: 450x;
    background-color: #ccc;
    grid-column: 1/2;
    grid-row: 3/4;
    
}

div.box3 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 50px;
}
.subtitle3 {
    grid-column: 1 / 2;
    text-align: left;
    grid-row: 1/2;
    justify-self: left;
    margin-bottom: 0px;
}
.para3 {
    grid-column: 1 / 2;
    grid-row: 2/3;
    text-align: left;
    margin-top: 0px;
    

}

.saxtype3 {
    width: 300px;
    height: 450px;
    background-color: #ccc;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: right;
    
}

.para3, .saxtype3, .para2, .saxtype2, .saxtype1 {
    margin-top: -30px;
}




/* FOOTER */
footer {
    background-color: #444;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    align-items: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.social img {
    width: 30px;
}

footer div {
    grid-column : 3/4;
}



@media (max-width: 700px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        display: inline-block;
    }
}






